<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>Welcome to our <%=title %>
    </h1>

    <ul>
        <% products.map((p)=>{ %>
            <li>
                <%=p%>
            </li>
            <%})%>
    </ul>
</body>

</html>